<% if flash.any? %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> flash-message" data-controller="alert">
        <%= msg %>
      </div>
    <% end %>
<% end %>